/*  페이지 공통 */
#container { width: 960px; margin: 0 auto}
/* container가 중앙에 오게 margin 0 auto 줌*/
nav { margin-top: 50px}
/* 제목과 메뉴 사이 margin 주기*/
nav ul { list-style: none; padding: 0;}
/* list style: none 으로 bulletpoint 없애기.. */
nav li { display: inline-block; padding: 0 65px;}

a:link {color: black; text-decoration: none; font-weight: bold }

a:visited {color: black; }
/*메뉴 글씨 색깔이 클릭했다고 보라색으로 변하지않게*/
a:hover { color: red; text-decoration: underline;}
a:active {color: orange; }
/* 해당 버튼을 실행시킬때.....*/

.hr {background-color: black; height: 2px; opacity: 100%}
/* hr: 수평선 그리기*/
main {min-height: 500px}

.copy {text-align: center;}

/* 폼 공통 */
 form { width: 320px; margin: 75px auto;   }
 form div { padding: 5px }
 form label { width: 110px; font-weight: bold; text-align: right}

 form input { padding: 5px;}


/* 회원정보*/
.myinfo { width: 300px; margin: 0 auto;
   border-collapse: collapse}

.myinfo td, .myinfo th { padding: 7px}
.myinfo th { text-align: right}

/* 게시판 리스트 */
.board { width: 700px; margin: 0 auto;
         table-layout: fixed; border-collapse: collapse}
.board td { text-align: center; padding: 7px }
.board th { padding: 7px; background: lightgoldenrodyellow;
            text-align: center}
.board tr:nth-child(odd) {background: #e4f7ba }
.board tr:nth-child(even) {background: #cef279 }
.board td:nth-child(2), .board th:nth-child(2) {text-align: left; }
.btnrgt { text-align : right !important}
.alglft { text-align : left !important}
.board select { padding: 6px;}
.board input { padding : 5px;}



/* 게시판 pagenation*/
.pagenation { list-style: none; padding: 0; text-align: center; margin: 25px 0; }
.pagenation li {display: inline-block; padding: 6px;}
.cpage { font: bold 32px 'vernada';  color: red;}

/* 게시판 - 새글쓰기 */
#writefrm { width: 650px; }
.drgup { vertical-align: top;}
.cptaalgn { margin: -30px 0 5px 105px;}

/* 게시판 - 본문보기 */
#view { width: 560px; margin: 75px auto;}
#view div { padding: 5px }
#view label { width: 110px; font-weight: bold; text-align: right}
#contents, #view span { border: 1px solid #eeeeee; display: inline-block;  width: 400px; }
#contents {min-height: 350px; white-space: pre; }
/* white-space: pre 를 안쓰면 줄바꿈이 안된다..*/






